In [15]:
import pandas as pd
import numpy as np
import ast

In [16]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [17]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [18]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:
credits.head(1)['cast']

0    [{"cast_id": 242, "character": "Jake Sully", "...
Name: cast, dtype: object

In [20]:
credits.head(1)['crew']

0    [{"credit_id": "52fe48009251416c750aca23", "de...
Name: crew, dtype: object

In [21]:
movies.merge(credits,on='title').shape

(4809, 23)

In [22]:
credits.shape

(4803, 4)

In [23]:
movies.shape

(4803, 20)

In [24]:
moviess= movies.merge(credits,on='title')

In [25]:
moviess.shape

(4809, 23)

In [26]:
moviess.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [27]:
moviess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [28]:
# Extract the column which is important for recommendation
# genres(types of movies), id(important to create website), keywords, title, overview, cast, crew
netflix = moviess[['original_title','movie_id', 'keywords', 'genres', 'overview', 'cast', 'crew']]

In [29]:
netflix.head(2)

,original_title,movie_id,keywords,genres,overview,cast,crew
0,Avatar,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [30]:
netflix.isnull().sum()

original_title    0
movie_id          0
keywords          0
genres            0
overview          3
cast              0
crew              0
dtype: int64

In [31]:
netflix.dropna(inplace=True)

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\1210450555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix.dropna(inplace=True)

In [32]:
netflix.isnull().sum()

original_title    0
movie_id          0
keywords          0
genres            0
overview          0
cast              0
crew              0
dtype: int64

In [33]:
netflix.duplicated().sum()

0

In [34]:
netflix.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [35]:
# since result of genres and keywords are not in recognizable form so first convert it in recognizable form, for that create a function
# since genres and keywords are in string of list that contains number of dictionary so we would first convert it in list from string using ast.literal_eval(obj) function

def convert(obj):
  L=[]
  for i in ast.literal_eval(obj):
   L.append(i["name"])
  return L

In [36]:
netflix['genres']=netflix['genres'].apply(convert)
netflix['keywords']=netflix['keywords'].apply(convert)

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\834048282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['genres']=netflix['genres'].apply(convert)
C:\Users\priya\AppData\Local\Temp\ipykernel_4748\834048282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['keywords']=netflix['keywords'].apply(convert)

In [37]:
#For cast we want to extract only first 3 names
def convert1(obj):
  L=[]
  count=0;
  for i in ast.literal_eval(obj):
   L.append(i["name"])
   count+=1
   if count==3:
      break
  return L

In [38]:
netflix['cast']=netflix['cast'].apply(convert1)

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\179835619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['cast']=netflix['cast'].apply(convert1)

In [39]:
# In crew we are only interested in director name so keep it only
def convert2(obj):
  L=[]
  for i in ast.literal_eval(obj):
   if i["job"]=="Director":
    L.append(i["name"])
    break
  return L

In [40]:
netflix['crew']=netflix['crew'].apply(convert2)

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\3786670844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['crew']=netflix['crew'].apply(convert2)

In [41]:
netflix.head(2)

,original_title,movie_id,keywords,genres,overview,cast,crew
0,Avatar,19995,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,Pirates of the Caribbean: At World's End,285,"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [42]:
netflix['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

In [43]:
#since all the overview are in string so first we have to convert it in list
netflix['overview']=netflix['overview'].apply(lambda x: x.split())

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\2410277573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['overview']=netflix['overview'].apply(lambda x: x.split())

In [44]:
netflix['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [45]:
#Remove all the space which is in single character (name)to avoid confusion while taging
netflix['genres']=netflix['genres'].apply(lambda x: [i.replace(" ","") for i in x])
netflix['keywords']=netflix['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
netflix['cast']=netflix['cast'].apply(lambda x: [i.replace(" ","") for i in x])
netflix['crew']=netflix['crew'].apply(lambda x: [i.replace(" ","") for i in x])

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\1582626050.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['genres']=netflix['genres'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\priya\AppData\Local\Temp\ipykernel_4748\1582626050.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['keywords']=netflix['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\priya\AppData\Local\Temp\ipykernel_4748\1582626050.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['cast']=netflix['cast'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\priya\AppData\Local\Temp\ipykernel_4748\1582626050.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['crew']=netflix['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [46]:
netflix.head()

,original_title,movie_id,keywords,genres,overview,cast,crew
0,Avatar,19995,"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,Pirates of the Caribbean: At World's End,285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,Spectre,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,The Dark Knight Rises,49026,"[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,John Carter,49529,"[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [47]:
# create another column as a tag which contains all the columns info of keywords, overview, cast, and crew
netflix['tags']=netflix['keywords']+netflix['genres']+netflix['overview']+netflix['cast']+netflix['crew']

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\2383142575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix['tags']=netflix['keywords']+netflix['genres']+netflix['overview']+netflix['cast']+netflix['crew']

In [48]:
netflix.head()

,original_title,movie_id,keywords,genres,overview,cast,crew,tags
0,Avatar,19995,"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."
1,Pirates of the Caribbean: At World's End,285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,Spectre,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,The Dark Knight Rises,49026,"[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden..."
4,John Carter,49529,"[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p..."

In [49]:
new_netflix=netflix[['original_title','movie_id','tags']]

In [50]:
new_netflix

,original_title,movie_id,tags
0,Avatar,19995,"[cultureclash, future, spacewar, spacecolony, ..."
1,Pirates of the Caribbean: At World's End,285,"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,Spectre,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,The Dark Knight Rises,49026,"[dccomics, crimefighter, terrorist, secretiden..."
4,John Carter,49529,"[basedonnovel, mars, medallion, spacetravel, p..."
...,...,...,...
4804,El Mariachi,9367,"[unitedstates–mexicobarrier, legs, arms, paper..."
4805,Newlyweds,72766,"[Comedy, Romance, A, newlywed, couple's, honey..."
4806,"Signed, Sealed, Delivered",231617,"[date, loveatfirstsight, narration, investigat..."
4807,Shanghai Calling,126186,"[When, ambitious, New, York, attorney, Sam, is..."
4808,My Date with Drew,25975,"[obsession, camcorder, crush, dreamgirl, Docum..."

In [51]:
#convert tags in string
new_netflix['tags']=new_netflix['tags'].apply(lambda x:" ".join(x))

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\2835730164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_netflix['tags']=new_netflix['tags'].apply(lambda x:" ".join(x))

In [52]:
new_netflix['tags']=new_netflix['tags'].apply(lambda x: x.lower())

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\18811743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_netflix['tags']=new_netflix['tags'].apply(lambda x: x.lower())

In [53]:
new_netflix.head()

,original_title,movie_id,tags
0,Avatar,19995,cultureclash future spacewar spacecolony socie...
1,Pirates of the Caribbean: At World's End,285,ocean drugabuse exoticisland eastindiatradingc...
2,Spectre,206647,spy basedonnovel secretagent sequel mi6 britis...
3,The Dark Knight Rises,49026,dccomics crimefighter terrorist secretidentity...
4,John Carter,49529,basedonnovel mars medallion spacetravel prince...

In [54]:
#to meet the problem statement of when someone search a movie they should recommend with more similar movies so we have to first convert tags into vector 
# which is related to similarties thet more closer vectors are more similar to each other so we would use bag of words technique to convert into vector form
#function is inbuilt in sklearn that ignore stop words (words used to buid sentences and having no semantic meaning like preposition, helping verb etc)

# before doing this we have to overcome one more problem ,since a single semantic word can present in many form like actor and actors, action and actions, dance, dancing, danced etc 
#so first we have to all this in a single word using imrt

In [55]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from click->nltk) (0.4.6)

In [56]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [57]:
#helping function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [58]:
print(ps.stem('actions'))
print(ps.stem('activities'))

action
activ

In [62]:
new_netflix['tags']=new_netflix['tags'].apply(stem)
#after this similar semantic words will not repeat

C:\Users\priya\AppData\Local\Temp\ipykernel_4748\4110666356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_netflix['tags']=new_netflix['tags'].apply(stem)

In [67]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\priya\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (3.5.0)

In [68]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [69]:
vectors=cv.fit_transform(new_netflix['tags']).toarray()
# here we have converted all the movies in a vector form

In [71]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [73]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [ ]:
#Now we have to calculate the distance of all the vectors to each vector to find the similarities between them as distance is inversaly proportional to similarties
#Euclidean distance -- distance of vector from peak to peak (not useful for higher dimensional vectors) so we will use cosine distance(find cosine angles between them)
#more angle -> less similarities

In [74]:
from sklearn.metrics.pairwise import cosine_similarity
similarity= cosine_similarity(vectors)

In [75]:
#it find the similarities of all the vectors to each vector 
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [77]:
#for 4806 movies it would be vector of 4806 *4806
similarity.shape

(4806, 4806)

In [79]:
#similarity of each movie with itself is one
similarity[1]

array([0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
       0.02615329])

In [87]:
# use to find the index of searched movie to recommend simmilar
index=new_netflix[new_netflix['original_title']=='El Mariachi'].index[0]
similarity[index]
#after this we will have the similarity vector of all movies with a searched movie

array([0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
       0.08714204])

In [89]:
#Now we will sort the similarity vector and recommend first 5 movie as first 5 have higher simililarities value implise more similar

sorted(similarity[0])[-10:-1] # last 10 similarities values as it sorted in ascending order

[0.23179316248638274,
 0.2367785320221084,
 0.24455799402225925,
 0.24511108480187255,
 0.2503866978335957,
 0.255608593705383,
 0.2605130246476754,
 0.26901379342448517,
 0.28676966733820225]

In [93]:
#sorted in descending order, starting movies are more similar
sorted(similarity[0], reverse=True)[0:10]

[1.0000000000000002,
 0.28676966733820225,
 0.26901379342448517,
 0.2605130246476754,
 0.255608593705383,
 0.2503866978335957,
 0.24511108480187255,
 0.24455799402225925,
 0.2367785320221084,
 0.23179316248638274]

In [96]:
#But in direct sorting we are loosing the index of movies and only got the similarities value so we have to maintain the index as well, for that 
#we will use enumerate function -- that arrange the values with index in increasing arder of index by default
sorted(list(enumerate(similarity[0])), reverse=True)[0:10]  # sort wrt index in decreasing order

[(4805, 0.0),
 (4804, 0.0),
 (4803, 0.04499212706658476),
 (4802, 0.046829290579084706),
 (4801, 0.019252140716412975),
 (4800, 0.0),
 (4799, 0.052631578947368425),
 (4798, 0.04223886030955117),
 (4797, 0.0),
 (4796, 0.0)]

In [97]:
# sort the values of vector without loosing the index
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[0:10]

[(0, 1.0000000000000002),
 (1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.2503866978335957),
 (582, 0.24511108480187255),
 (1204, 0.24455799402225925),
 (1194, 0.2367785320221084),
 (61, 0.23179316248638274)]

In [114]:
# create the helping function that will recommend the 5 similar movies to a searched movie
def recommend(movie):
    movie_index=new_netflix[new_netflix['original_title']==movie].index[0]
    distances= similarity[movie_index]
    movies_list= sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:10]

    for i in movies_list:
        # print(i[0]) # print the movies index of similar movies but we don't want this
        print(new_netflix.iloc[i[0]]['original_title'])

In [115]:
recommend('Batman')

Batman
Batman & Robin
Batman Begins
Batman Returns
The R.M.
The Dark Knight Rises
Batman Forever
Code of Honor
Micmacs à tire-larigot

In [118]:
import pickle
#save the processed dataframe
pickle.dump(new_netflix,open('movies.pkl','wb'))

In [119]:
# Save the similarity matrix
pickle.dump(similarity, open('similarity.pkl', 'wb'))